<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <localRepository>/home/YOUR_USER/PATH_TO_THE_MAVEN_REPOSITORY</localRepository>

  <profiles>
    <profile>
      <id>xcmis</id>
      <properties>
        <tomcat.distrib>/home/YOUR_USER/PATH_TO_THE_DEPENDENCIES/apache-tomcat-6.0.26</tomcat.distrib>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>xcmis</activeProfile>
  </activeProfiles>

</settings>